:root {
    --app-background: #aaaaaa;
    --app-card-background: #ffffff;
    --app-dark-text-color: #ffffff;
    --app-dark-button: #777777;
    --app-dark-button-hover: #363c4fa5;
    --app-part-border: #aaa;
}